# Directories
vendor/
build/
tmp/

# Hidden directories
.vscode/
.cache/

# Config / per-user files
.DS_Store
imgui.ini

# Compression
*.tar.gz
*.tar.bz2
*.tar
*.zip

# Shaders
*.frag
*.vert
*.glsl
*.hlsl